@page "/counter"
@using BlazorServerApp;
@inject SingletonCounter myCounter;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @myCounter.MyCounterValue</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private void IncrementCount()
    {
        myCounter.MyCounterValue++;
    }
}
